<%= form_for(travel) do |f| %>
  <% if travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travel.errors.count, "error") %> prohibited this travel from being saved:</h2>

      <ul>
      <% travel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vehicle_id %>
    <%= f.text_field :vehicle_id %>
  </div>

  <div class="field">
    <%= f.label :passenger_id %>
    <%= f.text_field :passenger_id %>
  </div>

  <div class="field">
    <%= f.label :enabled %>
    <%= f.check_box :enabled %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
